* {
  margin: 0;
  padding: 0;
}
* {
  font-family: Lato;
  font-style: normal;
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #F8F3F4;
}
.header-top {
  height: 75px;
  background-color: #222222;
}
.header-menu {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-menu-sandwich-contacts-basket {
  display: flex;
  align-items: center;
}
.header-menu-logo-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-logo-search-right {
  padding-top: 10px;
}
.header-menu-logo-search-button {
  margin-right: 41px;
}
.header-menu-sandwich-contacts-basket-button {
  margin-left: 33px;
}
.header-about {
  display: flex;
  min-height: 764px;
  background-color: #F1E4E6;
}
.header-about-content {
  display: flex;
  max-width: 1140px;
  background-image: url(img/headerbgi.png);
  background-repeat: no-repeat;
  background-position: bottom left -65%;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
}
.header-about-content-text {
  width: 377px;
  margin: 0 100px 46px 0;
}
.header-about-content-text-span1 {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  position: relative;
}
.header-about-content-text-span2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.header-about-content-text-span3 {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.header-catalog-nav {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 148px;
  align-items: center;
}
.header-catalog-nav-h2 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.header-catalog-nav-breadcrumb {
  display: flex;
  list-style-type: none;
}
.header-about-content-text-span1::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 0;
  left: -28px;
}
.categories {
  display: flex;
  max-width: 1140px;
  margin: 65px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories-accesories {
  display: flex;
  width: 100%;
  background-image: url(img/accesories.svg);
  background-repeat: no-repeat;
  min-height: 180px;
  margin-top: 30px;
}
.categories-for-women {
  display: flex;
  background-image: url(img/woman.svg);
  min-height: 260px;
  min-width: 360px;
  background-repeat: no-repeat;
}
.categories-for-men {
  display: flex;
  background-image: url(img/men.svg);
  min-height: 260px;
  min-width: 360px;
  background-repeat: no-repeat;
}
.categories-for-kids {
  display: flex;
  background-image: url(img/kids.svg);
  min-height: 260px;
  min-width: 360px;
  background-repeat: no-repeat;
}
.categories-special {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
}
.categories-about {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: auto;
}
.catalog {
  display: block;
  margin: 0 auto;
  max-width: 1140px;
}
.catalog-head {
  display: block;
  margin: 96px auto 17px;
  text-align: center;
}
.catalog-head-h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
  color: #222222;
  margin-bottom: 6px;
}
.catalog-head-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.catalog-product-list {
  display: flex;
  list-style-type: none;
  max-width: 1140px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-product-list-item-all {
  max-width: 360px;
  margin-top: 30px;
}
.catalog-product-list-item-all-text {
  padding: 0 18px 0 29px;
}
.catalog-product-list-item-all-text-h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
}
.catalog-product-list-item-all-text-h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
}
.catalog-product-list-item-all-text-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}
.catalog-button {
  display: flex;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 39px 13px;
  margin: 49px auto 96px;
}
.benefits {
  display: flex;
  min-height: 341px;
  background-color: #222224;
  max-width: 1600px;
  margin: 0 auto;
}
.benefits-container {
  display: flex;
  max-width: 1140px;
  min-height: 341px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.benefits-item-01 {
  width: 360px;
  height: 134px;
  background-image: url(img/benefits-01.svg);
  background-position: center top;
  background-repeat: no-repeat;
}
.benefits-item-02 {
  width: 360px;
  height: 134px;
  background-image: url(img/benefits-02.svg);
  background-position: center top;
  background-repeat: no-repeat;
}
.benefits-item-03 {
  width: 360px;
  height: 134px;
  background-image: url(img/benefits-03.svg);
  background-position: center top;
  background-repeat: no-repeat;
}
.benefits-item-h2 {
  margin-top: 60px;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}
.benefits-item-p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 527px;
  background-image: url(img/BGFooter.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.footer-top {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  height: 448px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.footer-top-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
  width: 360px;
}
.footer-top-review-bg {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-image: url(img/avatar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.footer-top-review-p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  color: #222224;
}
.footer-top-form {
  height: 142px;
  width: 557px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-top-form-h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
  width: 100%;
}
.footer-top-form-h3 {
  text-transform: uppercase;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  width: 100%;
}
.footer-top-form-email {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-radius: 20px 0 0 20px;
  padding-left: 22px;
  border: none;
  margin-top: 32px;
}
.footer-top-form-btn {
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  width: 100px;
  height: 49px;
  border-radius: 0 20px 20px 0;
  border: none;
  margin-top: 32px;
}
.footer-bot {
  height: 79px;
  background-color: #222224;
}
.footer-bot-center {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer-bot-socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  min-width: 148px;
  justify-content: space-between;
}
.footer-bot-p {
  font-size: 16px;
  color: #FBFBFB;
  line-height: 19px;
}
.search-form {
  width: 30px;
  height: 30px;
  margin: 0 0 0 30%;
  position: relative;
}
.search-form__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -5px;
  left: 35px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}
.search-form__input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.search-form__label {
  display: block;
  width: 100%;
  height: 100%;
}
.search-form__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
